<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		
		<h1>Blog</h1>
		<h2>... and my new Astro site!</h2>

		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere neque inventore maxime asperiores! Molestias, necessitatibus! Obcaecati ea facilis neque eveniet. Numquam veniam quisquam voluptas reprehenderit vero corporis tempore amet accusamus?</p>

		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi aliquam voluptate libero necessitatibus unde sit consectetur natus saepe officiis neque corrupti quidem iste ipsa quo veritatis, pariatur dicta. Amet, deleniti!</p>

	</body>
</html>